@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


		
		
		

body{
	background-color: rgb(238,238,238)
}


header {
    background:  #f5ab35;
    position: fixed; 
    left: 0; top: 0; 
    width:100%;
    height: 5rem;
    z-index: 10; 
}



.navLogo{
	width: 200px;
	
	
}

.page-wrapper {
    height:450px;
    width:990px;
    margin: 0 auto;
    margin-top:5px;
    padding-bottom:10px;

    
}

.home p {
    text-align:justify;
    font-size:1em;
    color:black;
    text:justify;
    line-height:25px;
}

.home h1 {
    font:"Adobe Devanagari";
    font-size:1.7em;
    text:justify;
      width:400px;
}
.home h2 {
    font:"Adobe Devanagari";
    font-size:1.5em;
    color:#FF3300;
    text-align:center;
     margin-left:auto;
    margin-right:auto;
     width:600px;
   
}
.sidhuvud {
    height:135px;
    width:670px;
    background-color:white;
     margin-left:auto;
    margin-right:auto;
    margin-top:10px;
  
}

.home img {
 margin-left:auto;
 margin-right:auto;
}
.home .litenbox {
    height:350px;
    width:475px;
    float:left;
    padding:10px;
    float:left;
    margin-top:35px;
   
}

.home .sidfot {
    height:50px;
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background-color:orange;
    text-align:center;
}




/*Kontakt css*/



#form-main{
	width:100%;
	padding-top:0px;
	background-color: rgb(238,238,238)
}

#form-div {
	background-color:rgb(235,149,50);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	float: left;
	
	
  margin-top:10px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#form-div2 {
	background-color:rgb(235,149,50);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	float: left;
	
	
  margin-top:10px;
   border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}


.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
   border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #f5ab35;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-top:-4px;
	font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #f5ab35;
}
	
.submit:hover {
	color: #f5ab35;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #f5ab35;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}


.map{
	overflow: hidden;
    max-width: 100%;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	
}
#contactPageHeader{
    width: 55%;
    background-color:rgb(45,45,45);
    text-align: center;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 10px;
	
	
}
   


.first {
    order: 1;    
}
.second {
    order: 2;    
}
.flexbox-container > div {
	width: 50%;
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 10px;
}

/* Too narrow to support three columns */



#kontakt{
	padding: 10px;	
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 1.2em;
    color: whitesmoke;
    padding: 10px;
    font-style: italic;
}


/*Alla h3-rubriker*/
.page > h3{
	padding: 10px;	
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 1.2em;
    color: rgb(45,45,45);
    padding: 10px;
    font-style: italic;
}

/* Om oss */

#omoss {
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	line-height: 1.5;
	background-color:rgb(45,45,45);
	color: white;
	padding: 10px;
	text-align: center;
}
#omoss > p{
	font-size: 1.3em;
}

#omoss > h1 {
	font-size: 2em;
	font-style: italic;
	background-color: rgb(248,148,6);
	display: inline-block;
	border-radius: 50%;
	padding: 20px;
}

.omoss > h3 {
	background-color: rgb(248,148,6);
	border-radius: 50%;
}

/* Footer */

footer {
	width: 100%;
	background: linear-gradient(135deg, rgb(248,148,6), #D35400);
	padding: 12px 0 12px;
	border-radius: 8px;
	
	
}



.nav{
	visibility: hidden;
}
.navLogo{
	visibility: hidden;
}
#bigMenu{
	visibility: hidden;
}
#smallMenu { 
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	margin: 50px 0;
    background: #f5ab35;
    margin-top: -10px;
    height: 100%;
}

#smallMenu ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
#smallMenu ul li {
	display:inline-block;
	    background: #f5ab35;
	}

#smallMenu a {
	display: block;
    padding: 0 10px;
    color: #FFF;
    line-height: 60px;
    text-decoration: none;
    line-height: 5;
}

#smallMenu a:hover { 
	background: #f5db15;
}


#smallMenu ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	

#smallMenu ul li:hover > ul {
	display:inherit;
}
	

#smallMenu ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


#smallMenu ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

	

#smallMenu li > a:after { content:  ' +'; }
#smallMenu li > a:only-child:after { content: ''; }



@media screen and (min-width: 600px) {
	
.navLogo{
	visibility: visible;
}
	
	
#smallMenu{
		visibility: hidden;
	}
.map {
	overflow: hidden;
    max-width: 100%;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;

	
}
#contactPageHeader{
    width: 98%;
    background-color:rgb(45,45,45);
    text-align: center;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding-bottom: 5px;
	padding-top: 5px;
	
	
	
}
   
#bigMenu {
	position: absolute;
    width: 100%;
    padding-top: 0.5rem;
	margin-top: -115px;
}

#bigMenu ul {
	visibility: visible;
    list-style: none;
    width: inherit; 
    margin: 0; 
}




#bigMenu > ul li {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-size: 2em;
    display: inline-block;
    margin: 0 8px;
    margin: 0 0.5rem;
    padding: 5px 8px;
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    line-height: 3;
   
}

#bigMenu ul li a {
    color: #fff;
    text-decoration: none;
}

.navLogo{
	width: 200px;
	
	
}

}